In [1]:
#loading all the required python libraries
import os
import numpy as np
import pandas as pd
import shutil
import re

In [2]:
rootdir ='/Users/prem/Desktop/Speech_Corpus'

In [3]:
#List of paths of audio_transcript
def trans_file():
  log = []
  for root, dirs, files in os.walk(rootdir):
    for name in files:
      if name == 'audio_transcript.txt':
        path = os.path.join(root,name)
        log.append(path)
  return log

In [4]:
#List of paths of speaker info
def info_file():
  log1 = []
  for root, dirs, files in os.walk(rootdir):
    for name in files:
      if name == 'speaker_info.txt':
        path_info = os.path.join(root,name)
        log1.append(path_info)
  return log1

In [5]:
# return dataframe 1 - having column wave id, audio transcript & Speaker no.
def dataframe_1() :
  dfs = []
  trans_files = trans_file()
  for file in trans_files :
    m = file
    temp = re.findall(r'\d+', m)
    res = list(map(int, temp))
    speaker_no = str(res[0])
        
    f = open(file)
    data_1 = dict()
    for line in f:
      a =  line.strip().split(' ', 1)
      it = iter(a)
      res_dct = dict(zip(it, it))
      data_1.update(res_dct)
      df_1 = pd.DataFrame(data_1.items(), columns = ['wave_id', 'transcript'])
      df_1['Speaker'] = speaker_no
    dfs.append(df_1)
  result = pd.concat(dfs)
  return result

In [6]:
dataframe_1()

   wave_id                                         transcript Speaker
0    a0454         The sharp voice of Wolf Larsen aroused me.    1069
1    a0455  I obeyed, and a minute or two later they stood...    1069
2    a0456  But it won't continue, she said with easy conf...    1069
3    a0457           What I saw I could not at first believe.    1069
4    a0458       The stout wood was crushed like an eggshell.    1069
..     ...                                                ...     ...
5    a0220           A dead man is of no use on a plantation.     986
6    a0221               I don't know why you're here at all.     986
7    a0222       What part of the United States is your home.     986
8    a0223            My, I'm almost homesick for it already.     986
9    a0224      She nodded, and her eyes grew soft and moist.     986

[58631 rows x 3 columns]

In [7]:
# Store dataframe in excel file
dataframe_1 = dataframe_1()
dataframe_1.to_excel(r'/Users/prem/Desktop/Speech_Corpus/dataframe_1.xlsx')

In [8]:
# return dataframe 2 
def dataframe_2():
  data_list= [] #list of dictionary
  reu = []
  info_files = info_file()
  for file in info_files :
    m = file
    temp = re.findall(r'\d+', m)
    res = list(map(int, temp))
    speaker_no = str(res[0])
    
    try:
      with open(file) as f:
        
        content = f.readlines()
        content = [x.rstrip() for x in content]
        content = content[4:8]
        content.pop(2)
        content.append('Speaker:'+' '+speaker_no)
    
        output = []
        for key_value in content:
          key, value = key_value.split(': ', 1)
          if not output or key in output[-1]:
            output.append({})
          output[-1][key] = value
        data_list.extend(output)
    except:
        source = '/Users/prem/Desktop/Speech_Corpus/'+speaker_no
        destination = '/Users/prem/Desktop/11'
        dest = shutil.move(source, destination) 
        continue 
      
  result = pd.DataFrame(data_list)
  return result

In [9]:
dataframe_2()

      Gender Age Range Pronunciation dialect Speaker
0     Female     Adult      American English    1069
1       Male     Adult       British English     797
2       Male     Adult      American English    4729
3       Male     Youth      European English    3954
4       Male    Senior       British English    2886
...      ...       ...                   ...     ...
5892  Female     Youth      American English    1476
5893    Male     Youth       British English    4336
5894    Male     Youth   New Zealand English    1644
5895    Male     Adult      American English    3113
5896    Male     Adult      American English     986

[5897 rows x 4 columns]

In [10]:
dataframe_2 = dataframe_2()

In [11]:
dataframe_2.isnull().sum()

Gender                   0
Age Range                0
Pronunciation dialect    0
Speaker                  0
dtype: int64

In [12]:
dataframe_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5897 entries, 0 to 5896
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 5897 non-null   object
 1   Age Range              5897 non-null   object
 2   Pronunciation dialect  5897 non-null   object
 3   Speaker                5897 non-null   object
dtypes: object(4)
memory usage: 184.4+ KB

In [13]:
## Cleaning dataframe_2

In [14]:
dataframe_2.rename(columns = {'Pronunciation dialect':'Pronunciation_dialect','Age Range':'Age_Range'},inplace=True)

In [15]:
dataframe_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5897 entries, 0 to 5896
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 5897 non-null   object
 1   Age_Range              5897 non-null   object
 2   Pronunciation_dialect  5897 non-null   object
 3   Speaker                5897 non-null   object
dtypes: object(4)
memory usage: 184.4+ KB

In [16]:
dataframe_2['Gender'].unique()

array(['Female', 'Male', 'unknown', 'male', 'Please Select', 'female',
       'make', 'adult', 'Masculin', 'Masculino', 'Weiblich', 'Männlich'],
      dtype=object)

In [17]:
dataframe_2.shape

(5897, 4)

In [18]:
lis = ['unknown','Please Select','make','adult','Masculin','Masculino','Weiblich','Männlich']

In [19]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'unknown']

In [20]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'Please Select']

In [21]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'make']

In [22]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'adult']

In [23]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'Masculin']

In [24]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'Masculino']

In [25]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'Weiblich']

In [26]:
dataframe_2 = dataframe_2.loc[dataframe_2.Gender != 'Männlich']

In [27]:
dataframe_2.shape

(5844, 4)

In [28]:
dataframe_2['Gender'].unique()

array(['Female', 'Male', 'male', 'female'], dtype=object)

In [29]:
dataframe_2['Gender'] = dataframe_2['Gender'].apply(lambda x:x.replace('male','Male'))

In [30]:
dataframe_2['Gender'].unique()

array(['FeMale', 'Male', 'feMale'], dtype=object)

In [31]:
dataframe_2['Gender'] = dataframe_2['Gender'].apply(lambda x:x.replace('FeMale','Female'))

In [32]:
dataframe_2['Gender'].unique()

array(['Female', 'Male', 'feMale'], dtype=object)

In [33]:
dataframe_2['Gender'] = dataframe_2['Gender'].apply(lambda x:x.replace('feMale','Female'))

In [34]:
dataframe_2['Gender'].unique()

array(['Female', 'Male'], dtype=object)

In [35]:
dataframe_2.shape

(5844, 4)

In [36]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'American English, non-native speaker', 'other',
       'Australian English', 'European English, non-native speaker',
       'European English - non-ntaive speaker', 'Irish English',
       'European English - German Accent', 'unknown', 'Please Select',
       'european english, non-native speaker', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [37]:
dataframe_2 = dataframe_2.loc[dataframe_2.Pronunciation_dialect != 'unknown']

In [38]:
dataframe_2 = dataframe_2.loc[dataframe_2.Pronunciation_dialect != 'Please Select']

In [39]:
dataframe_2.shape

(5840, 4)

In [40]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'American English, non-native speaker', 'other',
       'Australian English', 'European English, non-native speaker',
       'European English - non-ntaive speaker', 'Irish English',
       'European English - German Accent',
       'european english, non-native speaker', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [41]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('American English, non-native speaker','American English'))

In [42]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'other', 'Australian English',
       'European English, non-native speaker',
       'European English - non-ntaive speaker', 'Irish English',
       'European English - German Accent',
       'european english, non-native speaker', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [43]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('other','Other'))

In [44]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English',
       'European English, non-native speaker',
       'European English - non-ntaive speaker', 'Irish English',
       'European English - German Accent',
       'european english, non-native speaker', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'Other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [45]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('European English, non-native speaker','European English'))

In [46]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English',
       'European English - non-ntaive speaker', 'Irish English',
       'European English - German Accent',
       'european english, non-native speaker', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'Other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [47]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('European English - non-ntaive speaker','European English'))

In [48]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'European English - German Accent',
       'european english, non-native speaker', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'Other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [49]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('European English - German Accent','German accent'))

In [50]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'european english, non-native speaker',
       'non-native speaker', 'Other - non-native speaker',
       'European English, French Accent', 'America English',
       'Asian accent', 'Other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [51]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('european english, non-native speaker','European English'))

In [52]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'non-native speaker',
       'Other - non-native speaker', 'European English, French Accent',
       'America English', 'Asian accent', 'Other - Asian accent',
       'Other; non-native speaker'], dtype=object)

In [53]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('non-native speaker','Other'))

In [54]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'Other - Other',
       'European English, French Accent', 'America English',
       'Asian accent', 'Other - Asian accent', 'Other; Other'],
      dtype=object)

In [55]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('Other - Other','Other'))

In [56]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'European English, French Accent',
       'America English', 'Asian accent', 'Other - Asian accent',
       'Other; Other'], dtype=object)

In [57]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('European English, French Accent','European English'))

In [58]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'America English', 'Asian accent',
       'Other - Asian accent', 'Other; Other'], dtype=object)

In [59]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('Other - Asian accent','Asian accent'))

In [60]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'America English', 'Asian accent', 'Other; Other'],
      dtype=object)

In [61]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('America English','American English'))

In [62]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'Asian accent', 'Other; Other'], dtype=object)

In [63]:
dataframe_2['Pronunciation_dialect'] = dataframe_2['Pronunciation_dialect'].apply(lambda x:x.replace('Other; Other','Other'))

In [64]:
dataframe_2['Pronunciation_dialect'].unique()

array(['American English', 'British English', 'European English', 'Other',
       'Canadian English', 'South African English', 'New Zealand English',
       'Indian English', 'Australian English', 'Irish English',
       'German accent', 'Asian accent'], dtype=object)

In [65]:
dataframe_2['Age_Range'].unique()

array(['Adult', 'Youth', 'Senior', 'adult', 'unknown', 'youth',
       'Please Select'], dtype=object)

In [66]:
dataframe_2.shape

(5840, 4)

In [67]:
dataframe_2 = dataframe_2.loc[dataframe_2.Age_Range != 'unknown']

In [68]:
dataframe_2 = dataframe_2.loc[dataframe_2.Age_Range != 'Please Select']

In [69]:
dataframe_2.shape

(5820, 4)

In [70]:
dataframe_2['Age_Range'] = dataframe_2['Age_Range'].apply(lambda x:x.replace('adult','Adult'))

In [71]:
dataframe_2['Age_Range'] = dataframe_2['Age_Range'].apply(lambda x:x.replace('youth','Youth'))

In [72]:
dataframe_2['Age_Range'].unique()

array(['Adult', 'Youth', 'Senior'], dtype=object)

In [73]:
dataframe_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5820 entries, 0 to 5896
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Gender                 5820 non-null   object
 1   Age_Range              5820 non-null   object
 2   Pronunciation_dialect  5820 non-null   object
 3   Speaker                5820 non-null   object
dtypes: object(4)
memory usage: 227.3+ KB

In [74]:
# Store dataframe in excel file
dataframe_2.to_excel(r'/Users/prem/Desktop/Speech_Corpus/dataframe_2.xlsx')

In [75]:
def final_df():
  df_1 = dataframe_1
  df_2 = dataframe_2
  result = pd.merge(df_1, df_2, how='inner', on = 'Speaker')
  
  return result

In [76]:
final_df()

,wave_id,transcript,Speaker,Gender,Age_Range,Pronunciation_dialect
0,a0454,The sharp voice of Wolf Larsen aroused me.,1069,Female,Adult,American English
1,a0455,"I obeyed, and a minute or two later they stood...",1069,Female,Adult,American English
2,a0456,"But it won't continue, she said with easy conf...",1069,Female,Adult,American English
3,a0457,What I saw I could not at first believe.,1069,Female,Adult,American English
4,a0458,The stout wood was crushed like an eggshell.,1069,Female,Adult,American English
...,...,...,...,...,...,...
57867,a0220,A dead man is of no use on a plantation.,986,Male,Adult,American English
57868,a0221,I don't know why you're here at all.,986,Male,Adult,American English
57869,a0222,What part of the United States is your home.,986,Male,Adult,American English
57870,a0223,"My, I'm almost homesick for it already.",986,Male,Adult,American English
57871,a0224,"She nodded, and her eyes grew soft and moist.",986,Male,Adult,American English

In [77]:
df = final_df()
df.index = np.arange(1, len(df) + 1)

In [78]:
df['Speaker'] = df['Speaker'].astype(int)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57872 entries, 1 to 57872
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   wave_id                57872 non-null  object
 1   transcript             57872 non-null  object
 2   Speaker                57872 non-null  int64
 3   Gender                 57872 non-null  object
 4   Age_Range              57872 non-null  object
 5   Pronunciation_dialect  57872 non-null  object
dtypes: int64(1), object(5)
memory usage: 3.1+ MB

In [80]:
df = df.sort_values(by=['Speaker'])

In [81]:
# Store dataframe in file
df.to_excel(r'/Users/prem/Desktop/Speech_Corpus/final_dataframe.xlsx',index=False)

In [82]:
df['Age_Range'].unique()

array(['Adult', 'Youth', 'Senior'], dtype=object)

In [83]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [84]:
df['Pronunciation_dialect'].unique()

array(['American English', 'Other', 'New Zealand English',
       'Indian English', 'British English', 'Canadian English',
       'European English', 'Australian English', 'Asian accent',
       'Irish English', 'South African English', 'German accent'],
      dtype=object)